{% extends "base.html" %}

{% block extrahead %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="RoQuery">
  <meta property="og:title" content="Title">
  <meta property="og:author" content="R0bl0x10501050">
  <meta property="og:description" content="RoQuery is a simple and blazing fast library for writing Roblox Lua code.">
  <meta name="twitter:title" content="RoQuery">
  <meta name="twitter:description" content="RoQuery is a simple and blazing fast library for writing Roblox Lua code.">
  <meta name="twitter:creator" content="@R0bl0x10501050">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}
